.thank-you-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    background-color: #b2e9ff; /* Color de fondo */
    text-align: center;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333; /* Color del texto */
  }
  
  .button-container {
    margin-top: 20px;
  }
  
  .animated-button {
    padding: 10px 20px;
    background-color: #ff5722; /* Color del botón */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .animated-button:hover {
    background-color: #e64a19; /* Color del botón al pasar el mouse */
  }