body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.home-page {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.hero {
    padding: 100px;
    text-align: center;
}

.hero-content h1 {
    font-size: 2.5em;
    color: #333;
}

.hero-content p {
    font-size: 1.2em;
    color: #666;
}

.cta-button {
    background-color: #1E90FF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #00BFFF;
}

.info-bar {
    display: flex;
    justify-content: space-around;
    background: #c6fcff;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
}

.info-item {
    text-align: center;
}

.reservas-container {
    margin-top: 40px;
}

.room-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; 
}

.room-item {
    align-content: center;
    background: #abe0ff;
    padding: 10px;
    margin: 15px;
    width: calc(50% - 20px); /* Dos elementos por fila con espacio para el margen */
    text-align: center;
    box-sizing: border-box; 
}

.room-item img {
    max-width: 100%;
    border-radius: 5px;
}

.room-details h2 {
    color: #1E90FF;
}

.ver-mas {
    background-color: #1E90FF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.ver-mas:hover {
    background-color: #00BFFF;
}

.testimonials {
    margin-top: 40px;
    padding: 20px;
    background: #c2fcf2;
}

.testimonials blockquote {
    font-style: italic;
    color: #555;
}

.testimonials cite {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

.reservas-container {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
  }
  
  .room-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .room-item {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    width: 300px; /* Define un ancho fijo para cada item */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .room-item:hover {
    transform: scale(1.05);
  }
  
  .room-item img {
    width: 100%; /* La imagen tomará el ancho del contenedor */
    height: 200px; /* Define una altura fija para las imágenes */
    object-fit: cover; /* Asegura que la imagen mantenga sus proporciones y llene el contenedor */
  }
  
  .room-details {
    padding: 10px;
  }
  
  .room-details h2 {
    margin: 10px 0;
    font-size: 20px;
  }
  
  .room-details p {
    margin: 5px 0;
  }
  
  .ver-mas {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .ver-mas:hover {
    background-color: #0056b3;
  }