<form (ngSubmit)="onSubmit()">
  <label for="usuario">Usuario:</label>
  <input type="text" id="usuario" [(ngModel)]="reservacion.usuario" name="usuario" required>

  <label for="cuarto">Cuarto:</label>
  <input type="text" id="cuarto" [(ngModel)]="reservacion.cuarto" name="cuarto" required>

  <label for="fecha_inicio">Fecha de Inicio:</label>
  <input type="datetime-local" id="fecha_inicio" [(ngModel)]="reservacion.fecha_inicio" name="fecha_inicio" required>

  <label for="fecha_fin">Fecha de Fin:</label>
  <input type="datetime-local" id="fecha_fin" [(ngModel)]="reservacion.fecha_fin" name="fecha_fin" required>

  <button type="submit">Hacer Reservación</button>
</form>