<div class="register-container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <h2>REGISTRARSE</h2>
        <div class="form-group">
            <label for="username">NOMBRE DE USUARIO</label>
            <input id="username" formControlName="username" type="text" />
        </div>
        <div class="form-group">
            <label for="email">CORREO ELECTRONICO</label>
            <input id="email" formControlName="email" type="email" />
        </div>
        <div class="form-group">
            <label for="password">PASSWORD</label>
            <input id="password" type="password" formControlName="password" />
        </div>
        <div class="form-group">
            <label for="password2">CONFIRMA TU PASSWORD</label>
            <input id="password2" type="password" formControlName="password2" />
        </div>
        <button type="submit" class="register-btn" [disabled]="registerForm.invalid">Registrar</button>
    </form>
</div>